<div class="container">
  <div class="row">
    <div class="span12">
      <div class="hero-unit stars">
        <h1>Spiral Galaxy</h1>
        <p>Play <a href="http://quarterspiral.com">Quarter Spiral</a> powered games.</p>
      </div>
    </div>
    <div class="span9 offset2">
        <h2>For Players</h2>
      </div>
      <div class="span2 alpha">
        <p>Spiral Galaxy is currently in an invite only alpha!</p>
      </div>
      <div class="span6 large">
        
        <p>Spiral Galaxy is where you can find and play many of the games published with <a href="http://mk.quarterspiral.com">Mission Kontrol</a>.</p>

        <p>Contact us at <a href="http://quarterspiral.com">Quarter Spiral</a> if you are interested in getting preview access to Spiral Galaxy. If you already have an account or have received an invitation key you can <a href="/auth/auth_backend">log in here</a>.</p>

        <p><a href="https://twitter.com/quarterspiral" target="new">Follow us on Twitter</a> or <a href="http://blog.quarterspiral.com" target="new">subscribe to our blog</a> for the latest.</p>
      </div>
    </div>
  </div>
</div>