<!-- Promotional top bar -->

<div id="promoBlock" ng-controller="FrontpageController">
  <div class="row" >

    <div ng-hide="loggedIn" ng-controller="GamesController">
      <h2>Random Games</h2>
      <div ng-repeat="game in games.all | limitTo:3" class="span4 feature large" style="background-image: url('{{game.promoImage}}');">
        <div class="banner">
          <div class="title">{{game.name}}</div>
        </div>
      </div>
    </div>

    <div ng-class="games.friends|empty|or:(games.recently|empty)|eitherOr:'span8':'span4'" ng-show="loggedIn" ng-controller="GamesController">
      <h2>Random Games</h2>
      <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item" ng-class="{active: $first}" ng-repeat="game in games.all | limitTo:3">
            <div class="feature large" style="background-image: url('{{game.promoImage}}');">
              <div class="banner">
                <div class="title">
                  <a href="/play/{{game.uuid}}" ng-hide="!(game.venues|include:'spiral-galaxy')">{{game.name}}</a>
                  <span ng-show="!(game.venues|include:'spiral-galaxy')">{{game.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>

    <div class="span4" ng-controller="GamesController" ng-show="loggedIn && (!(games.friends|empty))">
      <h2>Featured Friends Play</h2>
      <div id="myCarousel2" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item" ng-class="{active: $first}" ng-repeat="game in games.friends | limitTo:3">
            <div class="feature large" style="background-image: url('{{game.promoImage}}');">
              <div class="banner">
                <div class="title">
                  <a href="/play/{{game.uuid}}" ng-hide="!(game.venues|include:'spiral-galaxy')">{{game.name}}</a>
                  <span ng-show="!(game.venues|include:'spiral-galaxy')">{{game.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel2" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel2" data-slide="next">&rsaquo;</a>
      </div>
    </div>

    <div class="span4" ng-show="loggedIn && ((!(games.recently|empty))|or:(games.friends|empty))" ng-controller="GamesController">
      <h2>Play it again</h2>

      <div class="row">
        <div class="span4 notPlayedYet" ng-show="games.recently | empty">
          <p>You have not played any games yet.</p>
        </div>
        <div class="span2" ng-repeat="game in games.recently | limitTo:4" ng-hide="games.recently | empty">

          <div class="feature" style="background-image: url('{{game.promoImage}}');">
            <div class="banner">
              <div class="title">
                <a href="/play/{{game.uuid}}" ng-hide="!(game.venues|include:'spiral-galaxy')">{{game.name}}</a>
                <span ng-show="!(game.venues|include:'spiral-galaxy')">{{game.name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- main game explorer (3 columns) -->
<div class="row">

  <div class="span2">

    <div id="filters">
      <!--
        <p class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="active btn">All</button>
          <button type="button" class="btn">Web</button>
          <button type="button" class="btn">Mobile</button>
        </p>
      -->

      <ul class="nav nav-list categories">
        <li class="nav-header">Categories</li>
        <li class="active"><a href="#"><strong>All</strong> 2310</a></li>
        <li><a href="#"><strong>MMO</strong> 231</a></li>
        <li><a href="#"><strong>Adventure</strong> 321</a></li>
        <li><a href="#"><strong>Action</strong> 124</a></li>
        <li><a href="#"><strong>Arcade</strong> 98</a></li>
        <li><a href="#"><strong>Shooting</strong> 56</a></li>
        <li><a href="#"><strong>Puzzle</strong> 87</a></li>
        <li><a href="#"><strong>Strategy</strong> 241</a></li>
        <li><a href="#"><strong>Sport</strong> 12</a></li>
        <li><a href="#"><strong>Other</strong> 74</a></li>
      </ul>
    </div>
  </div>


  <div class="span10" ng-controller="GamesController">
    <div class="box" >
      <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs" ng-init="type = 'all'">
          <li ng-class="{active: type == 'all'}"><a ng-click="type = 'all'">All</a></li>
          <li ng-hide="!loggedIn || (games.friends|empty)" ng-class="{active: type == 'friends'}"><a ng-click="type = 'friends'">Played by Friends</a></li>
        </ul>
        <div class="tab-content">
          <ul class="gamesList" >
            <li ng-repeat="game in games[type]">
              <div class="media" style="background-image: url('{{game.promoImage}}');"></div>
              <h3>
                <a href="/play/{{game.uuid}}" ng-hide="!(game.venues|include:'spiral-galaxy')">{{game.name}}</a>
                <span ng-show="!(game.venues|include:'spiral-galaxy')">{{game.name}}</span>
              </h3>
              <div class="info">

                <div class="description">
                  <p>{{game.description}}</p>
                </div>
                <div class="meta">
                  <p>
                    <span ng-repeat="venue in game.venues">
                      <a href="{{envs.QS_CANVAS_APP_URL}}/v1/games/{{game.uuid}}/{{venue}}" class="label">{{venue | humanize}}</a>
                    </span>
                  </p>
                </div>
                <div class="playShare">
                  <a class="btn btn-success" href="/play/{{game.uuid}}" ng-hide="!(game.venues|include:'spiral-galaxy')"><strong>Play Now</strong></a>
                  <a class="btn btn-small" href="#share" role="button" class="" data-toggle="modal"><i class="icon-share"></i> <strong>Share</strong> / Embed</a>
                </div>

              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--
  <div class="span3" id="recentlyPlayed" ng-controller="GamesController" ng-show="loggedIn">
    <div class="box">
      <h2>You recently played:</h2>
      <ol>
        <li ng-repeat="game in games.recently">
        <a href="#">
          <img src="{{game.promoImage}}" height="40px" width="50px" />
          <span class="title">{{game.name}}</span>
          <span class="info">2 hours ago</span>
        </a>
        </li>
      </ol>
      <p><a class="btn" href="/#/library">Your Library &raquo;</a></p>
    </div>
    <div class="box">
      <h2>Spotlight</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>
  -->

</div>





<!-- Modal -->
<div id="share" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Share...</h3>
  </div>
  <div class="modal-body">
    <p>
      You can easily share any game powered by Quarter Spiral. Here is all you need.
    </p>
    <p>
      <label><strong>Link to this game</strong></label>
      <div class="input-append">
        <input class="span3" value="http://shortPermaUrl" type="text">
        <button class="btn">Copy to clipboard</button>
      </div>
    </p>
    <p>
      <label><strong>Embed this game anywhere. Just copy and paste to code below</strong></label>
      <textarea rows="3" class="span4">gobble di gob. JS code and stuff of awesome</textarea>
    </p>
    <p>
      <lable><strong>Share with the usual suspects</strong></lanel>
      <ul id="social" class="cf">
        <li>
            <a href="http://twitter.com/share" class="socialite twitter-share" data-text="[game]" data-url="http://quarterspiral.com" data-count="vertical" rel="nofollow" target="_blank">
                <span class="vhidden">Share on Twitter</span>
            </a>
        </li>
        <li>
            <a href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url=http://quarterspiral.com" class="socialite googleplus-one" data-size="tall" data-href="http://quarterspiral.com" rel="nofollow" target="_blank">
                <span class="vhidden">Share on Google+</span>
            </a>
        </li>
        <li>
            <a href="http://www.facebook.com/sharer.php?u=http://quarterspiral.com&amp;t=Quarterspiral" class="socialite facebook-like" data-href="http://quarterspiral.com" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank">
                <span class="vhidden">Share on Facebook</span>
            </a>
        </li>
        <li>
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://quarterspiral.com&amp;title=quarterspiral.com" class="socialite linkedin-share" data-url="http://quarterspiral.com" data-counter="top" rel="nofollow" target="_blank">
                <span class="vhidden">Share on LinkedIn</span>
            </a>
        </li>
      </ul>
    </p>

  </div>
  <div class="modal-footer">
    <a  class="btn btn-success"><strong>Play Now</strong></a>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
