<div class="row">
  <div class="span10 offset2" >
    <div class="page-header">
      <h1><a href="#/profile">{{currentUser.name}}'s</a> game library</h1>
    </div>
  </div>
</div>
<div class="row">

  <div class="span2">

    <div id="filters">
      <!--
        <p class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="active btn">All</button>
          <button type="button" class="btn">Web</button>
          <button type="button" class="btn">Mobile</button>
        </p>
      -->

      <ul class="nav nav-list categories">
        <li class="nav-header">Categories</li>
        <li class="active"><a href="#"><strong>All</strong> 14</a></li>
        <li><a href="#"><strong>MMO</strong> 2</a></li>
        <li><a href="#"><strong>Adventure</strong> 10</a></li>
        <li><a href="#"><strong>Action</strong> 2</a></li>
      </ul>
    </div>
  </div>


  <div class="span10" ng-controller="GamesController">
    <div class="box" >
      <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs" ng-init="type = 'played'">
          <li ng-class="{active: type == 'played'}"><a ng-click="type = 'played'">Played</a></li>
          <li ng-class="{active: type == 'starred'}"><a ng-click="type = 'starred'"><i class="icon-star"></i> Starred</a></li>
        </ul>
        <div class="tab-content">
          <ul class="gamesList" >
            <li ng-repeat="game in games[type]">
              <h3><a href="#">{{game.name}}</a></h3>
              <div class="media" style="background-image: url('{{game.promoImage}}');">
              </div>
              <div class="info">

                <div class="description">
                  <p>{{game.description}}</p>
                </div>
                <div class="meta">
                  <p>
                    <span ng-repeat="venue in game.venues">
                      <a href="{{envs.QS_CANVAS_APP_URL}}/v1/games/{{game.uuid}}/{{venue}}" class="label">{{venue | humanize}}</a>
                    </span>
                  </p>
                  <p>Friends playing: <a href="#/profile">Ethan</a>, <a href="#/profile">Thorben</a></p>
                </div>
                <div class="playShare">
                  <a  class="btn btn-success" href="/play/{{game.uuid}}"><strong>Play Now</strong></a>
                  <a class="btn" href="#share" role="button" class="" data-toggle="modal"><i class="icon-share"></i> <strong>Share</strong> / Embed</a>
                  <a  class="btn"><i class="icon-star-empty"></i></a>

                </div>

              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>