<div class="row" id="profileHeader">
  <div class="span10 offset2" >
    <h1>{{currentUser.name}}</h1>
  </div>
</div>  
<div class="row">

  <div class="span2">

    <div id="filters">
      <!--
        <p class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="active btn">All</button>
          <button type="button" class="btn">Web</button>
          <button type="button" class="btn">Mobile</button>
        </p>
      -->

      <ul class="nav nav-list categories">
        <li class="nav-header">Categories</li>
        <li class="active"><a href="#"><strong>All</strong> 2310</a></li>
        <li><a href="#"><strong>MMO</strong> 231</a></li>
        <li><a href="#"><strong>Adventure</strong> 321</a></li>
        <li><a href="#"><strong>Action</strong> 124</a></li>
        <li><a href="#"><strong>Arcade</strong> 98</a></li>
        <li><a href="#"><strong>Shooting</strong> 56</a></li>
        <li><a href="#"><strong>Puzzle</strong> 87</a></li>
        <li><a href="#"><strong>Strategy</strong> 241</a></li>
        <li><a href="#"><strong>Sport</strong> 12</a></li>
        <li><a href="#"><strong>Other</strong> 74</a></li>
      </ul>
    </div>
  </div>


  <div class="span10" id="recentlyPlayed" ng-controller="ProfileController">
    <div class="box">
      <ul class="gamesList">
        <li ng-repeat="game in games.played">
          <div class="media" style="background-image: url('{{game.promoImage}}');"></div>
          <h3>
            <a href="/play/{{game.uuid}}" ng-hide="!(game.venues|include:'spiral-galaxy')">{{game.name}}</a>
            <span ng-show="!(game.venues|include:'spiral-galaxy')">{{game.name}}</span>
          </h3>
          
          <div class="info">
            <div class="description">
              <p>{{game.description}}</p>
            </div>
            <div class="meta">
              <p>
                <span ng-repeat="venue in game.venues">
                  <a href="{{envs.QS_CANVAS_APP_URL}}/v1/games/{{game.uuid}}/{{venue}}" class="label">{{venue | humanize}}</a>
                </span>
              </p>
            </div>
            <div class="playShare">
              <a class="btn btn-success" href="/play/{{game.uuid}}" ng-hide="!(game.venues|include:'spiral-galaxy')"><strong>Play Now</strong></a>
              <a class="btn btn-small" href="#share" role="button" class="" data-toggle="modal"><i class="icon-share"></i> <strong>Share</strong> / Embed</a>
            </div>

          </div>
        </li>
      </ul>
    </div>
  </div>
</div>