<!-- Promotional top bar -->

<div id="promoBlock" class="ng-cloak" ng-controller="FrontpageController" ng-init="redirectToBetaWall()">
  
  <div ng-controller="GamesController">

    <div class="row" >
      <div class="span12 loading" ng-hide="games">
        <img src="../images/spinner.gif" /> Loading Games ...
      </div>
    </div>

    <div class="row" ng-show="games">
      <div ng-hide="loggedIn">
        <h2>Random Games</h2>
        <div ng-repeat="game in games.all|enabledOnSpiralGalaxy|limitTo:3" class="span4 feature large" style="background-image: url('{{game.promoImage}}');">
          <div class="banner">
            <div class="title">{{game.name}}</div>
          </div>
        </div>
      </div>

      <div ng-class="games.friends|enabledOnSpiralGalaxy|empty|or:(games.recently|enabledOnSpiralGalaxy|empty)|eitherOr:'span8':'span4'" ng-show="loggedIn">
        <h2>Random Games</h2>
        <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="item" ng-class="{active: $first}" ng-repeat="game in games.all|enabledOnSpiralGalaxy|limitTo:3">
              <div class="feature large" style="background-image: url('{{game.promoImage}}');">
                <div class="banner">
                  <div class="title">
                    <a href="/play/{{game.uuid}}">{{game.name}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>

      <div class="span4" ng-show="loggedIn && (!(games.friends|enabledOnSpiralGalaxy|empty))">
        <h2>Featured Friends Play</h2>
        <div id="myCarousel2" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="item" ng-class="{active: $first}" ng-repeat="game in games.friends|enabledOnSpiralGalaxy|limitTo:3">
              <div class="feature large" style="background-image: url('{{game.promoImage}}');">
                <div class="banner">
                  <div class="title">
                    <a href="/play/{{game.uuid}}">{{game.name}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel2" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel2" data-slide="next">&rsaquo;</a>
        </div>
      </div>

      <div class="span4" ng-show="loggedIn && ((!(games.recently|enabledOnSpiralGalaxy|empty))|or:(games.friends|enabledOnSpiralGalaxy|empty))">
        <h2>Play it again</h2>

        <div class="row">
          <div class="span4 notPlayedYet" ng-show="games.recently|enabledOnSpiralGalaxy|empty">
            <p>You have not played any games yet.</p>
          </div>
          <div class="span2" ng-repeat="game in games.recently|enabledOnSpiralGalaxy|limitTo:4" ng-hide="games.recently|enabledOnSpiralGalaxy|empty">

            <div class="feature" style="background-image: url('{{game.promoImage}}');">
              <div class="banner">
                <div class="title">
                  <a href="/play/{{game.uuid}}">{{game.name}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- main game explorer (3 columns) -->
<div class="row" ng-controller="GamesController">

  <div class="span10 offset2">

    <ul class="nav nav-pills" ng-init="type = 'all'">
      <li ng-class="{active: type == 'all'}"><a ng-click="type = 'all'">All</a></li>
      <li ng-hide="!loggedIn || (games.friends|enabledOnSpiralGalaxy|empty)" ng-class="{active: type == 'friends'}"><a ng-click="type = 'friends'">Played by Friends</a></li>
    </ul>

  </div>

  <div class="span2">

    <div id="filters">
      <!--
        <p class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="active btn">All</button>
          <button type="button" class="btn">Web</button>
          <button type="button" class="btn">Mobile</button>
        </p>
      -->

      <ul class="nav nav-list categories" >
        <li class="nav-header">Categories</li>
        <li ng-class="{active: isCategorySelected(null)}"><a href="#" ng-click="selectCategory(null)" avoid-href><strong>All</strong> {{(games.all|enabledOnSpiralGalaxy).length}}</a></li>
        <li ng-class="{active: isCategorySelected(category)}" ng-repeat="category in categories|orderBy:'count':true|limitTo:15"><a href="#" ng-click="selectCategory(category)" avoid-href><strong>{{category.name}}</strong> {{category.count}}</a></li>
      </ul>
    </div>
  </div>


  <div class="span10">
    <div class="box" >
      <div class="tab-content">
        <ul class="gamesList" >
          <li class="loading" ng-hide="games">
            <img src="../images/spinner.gif" /> Loading Games ...
          </li>
          <li ng-repeat="game in games[type]|filter:gameFilter()|enabledOnSpiralGalaxy">
            <div class="media" style="background-image: url('{{game.promoImage}}');"></div>

            <div class="info">
              <h3>
                <a href="/play/{{game.uuid}}">{{game.name}}</a>
              </h3>
              <div class="meta">
                 <p>
                  <span ng-show="game.credits && !game.credits_url">
                    by {{game.credits}}, 
                  </span>
                  <span ng-show="game.credits && game.credits_url">
                    by <a href="{{game.credits_url}}">{{game.credits}}</a>, 
                  </span>
                  available on:
                  <span ng-repeat="venue in game.venues">
                    <a href="{{envs.QS_CANVAS_APP_URL}}/v1/games/{{game.uuid}}/{{venue}}">{{venue | humanize}}</a><span ng-hide="$last">, </span>
                  </span>
                </p>
              </div>

              <div class="description">
                <p>{{game.description}}</p>
              </div>

              <div class="embed" ng-init="showEmbed = false;" ng-show="showEmbed">
                <h4>Paste this code into your site to mebed this game.</h4>
                <div class="code">
                  {{game.embed}}
                </div>
              </div>
              <div class="playShare">
                <a class="btn btn-success" href="/play/{{game.uuid}}"><strong>Play Now</strong></a>
                <a ng-show="game.embed" ng-click="showEmbed = toggle(showEmbed);"><i class="icon-share"></i> Embed</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!--
  <div class="span3" id="recentlyPlayed" ng-controller="GamesController" ng-show="loggedIn">
    <div class="box">
      <h2>You recently played:</h2>
      <ol>
        <li ng-repeat="game in games.recently">
        <a href="#">
          <img src="{{game.promoImage}}" height="40px" width="50px" />
          <span class="title">{{game.name}}</span>
          <span class="info">2 hours ago</span>
        </a>
        </li>
      </ol>
      <p><a class="btn" href="/#/library">Your Library &raquo;</a></p>
    </div>
    <div class="box">
      <h2>Spotlight</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>
  -->

</div>
